html,body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

table {
  background: white;
  color: black;
  width: 100%;
  flex: 1;
  border-collapse: collapse;
  overflow: hidden;
  word-wrap: break-word;
}

th, td { 
  font-weight: bold;
  text-align: left;
}

td {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.helligdag {
  color: red;
}

div[contenteditable="plaintext-only"] {
  font-weight: lighter;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  white-space: pre-wrap;
}