body {
  background-color: rgb(40,43,48);
}

h1 {
  color: rgb(255, 153, 0);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

img {
  width: 100%;
}

table {
  background: white;
  color: black;
  width: 100%;
}

th { 
  font-weight: bold;
  text-align: left;
}

td { 
  text-align: left;
  line-height: 30px;
}