html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
}

img {
  width: 100%;
  object-fit: contain;
}

table {
  background: white;
  color: black;
  width: 100%;
  flex: 1;
  border-collapse: collapse;
  overflow: hidden;
}

th, td {
  font-weight: bold;
  text-align: left;
}

td {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  padding: 0;
  margin: 0;
  min-height: 40px;
}

.helligdag {
  color: red;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

header {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  color: orange;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

textarea {
  box-sizing: border-box;
  height: 100px;
  width: 14%;
  resize: none;
}